.form-edituser {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-edituser h2 {
    color: #333;
    font-size: 1rem;
    margin-bottom: 0rem;
}

.form-edituser fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form-edituser .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-start;
}

.edituser-buttons {
    display: flex;
    gap: 1rem;
}